<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>

    <!-- Configuración para permitir conexiones HTTP en Google Books -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>books.google.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
        </dict>
    </dict>

    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Se necesita acceso para convertir tu voz a texto.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Se necesita acceso al micrófono para grabar tu voz.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Se necesita para convertir voz en texto</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Se necesita para grabar tu voz</string>

</dict>
</plist>
